$main-color: #F44336;
$main-text-color: #484848;
$light-gray-color: #e9e9e9;
input {
  display: none;
}

.image-upload-container {
  cursor: pointer;
}
.image-container{
  margin-left: 15px;
.img-preview-container {
  background-color: #f7f7f7;
  position: relative;
  border: 1px solid #bfc2be;
  border-radius: 5px;
  width: min-content;
  margin: auto;
  .img-preview {
    background: center center no-repeat;
    background-size: contain;
    height: 130px;
    width: 130px;
    transition: 0.3s;
    cursor: zoom-in;
    &-error {
      display: none;
    }
  }
}
.img-name{
  text-align: center;
}
}
.img-loading-overlay {
    background-color: black;
    bottom: 0;
    left: 0;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 0;
}

.img-spinning-circle {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.img-spinning-circle:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-bwm {
  background-color: $main-color;
  border-color: $main-color;
  color: white;
  padding: 15px 30px;
  font-size: 20px;

  &:hover, &:focus, &:active {
    border-color: $main-color !important;
    background-color: $main-color !important;
  }
}



.img-preview:hover {opacity: 0.7;}
.custom-modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content (image) */
.custom-modal .custom-modal-content {
  margin: auto;
  margin-top: 5vh;
  display: block;
  max-width: 80vw;
  border: 1px solid #0041f5;
}

/* Caption of Modal Image */

/* Add Animation */
.custom-modal .custom-modal-content {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
