<div class="container">


    <!-- Page Features -->
    <div class="row">
      <div class = "col-md-3 ">
        <mat-form-field>
          <mat-label>Tùy chọn</mat-label>
          <mat-select [(ngModel)]="filterInput.option" >
            <mat-option [value]="null" >Tất cả </mat-option>
            <mat-option  [value]="0">Đã bán giảm dần</mat-option>
            <mat-option  [value]="1">Đã bán tăng dần</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class = "col-md-3 ">
        <mat-form-field>
          <mat-label>Producer</mat-label>
          <mat-select [(ngModel)]="filterInput.producerId" >
            <mat-option [value]="null" >Tất cả </mat-option>
            <mat-option *ngFor="let producer of producers" [value]="producer.producerId">{{producer.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-5">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input  matInput placeholder="Product name" [(ngModel)]="filterInput.name" >
        </mat-form-field>    
      </div> 
      <div class="col-md-1 align-self-center">
      <button mat-stroked-button color="primary" type="button" (click)="onSearch()">Search</button>
    </div>


      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of displayList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <div class="card h-100">
          <a [routerLink]="['/product',product.type,product.id]"><img class="card-img-top" src="{{product.imageUrls[0].url}}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a [routerLink]="['/product',product.type,product.id]">{{product.name}}</a>
            </h4>
            <div>
              <span>&nbsp;</span>
              <span class="product-sold">Đã bán: &nbsp; <span>{{product.sold}}</span></span>
          </div>
            <div *ngIf="product.sale != 0">
              <div class="card-origin-price">
                <div class=" text-deleted">{{product.originalPrice | moneyFormatPipe}}</div>
                <div class="card-curency-unit">VNĐ</div>
                <div class="card-sale">-{{product.sale}}%</div>
              </div> 
      
              <div class="card-price">
               <div class="price">{{product.price | moneyFormatPipe}}</div>
                <div class="card-curency-unit">VNĐ</div>
              </div>

            </div>
            <div *ngIf="product.sale == 0">
            <div class="card-price">
              <div class="price">{{product.price | moneyFormatPipe}}</div>
              <div class="card-curency-unit">VNĐ</div>
          </div>
            </div>
            <div class="card-short-desc">{{product.shortDesc}}
            </div>
            
          </div>

        </div>
      </div>
      <div class="col-md-12">
        <div class="custom-paginator">
        <ngb-pagination  [(page)]="page" [pageSize]="pageSize" [collectionSize]="displayList.length"></ngb-pagination>
      </div>
      </div>
      

    </div>
    <!-- /.row -->

  </div>