<footer class="site-footer bg-dark">
  <div class="col-md-12 footer" id="footer-content">
    <div class="col-md-12 banner-footer">
      <p>HHP<br />Mua hàng online với nhiều ưu đãi hơn tại HHP</p>
    </div>
    <div class="content-footer" style="display: flex;">
      <div class="col-6">
        <b>HHP.COM - HI-END PC & GAMING GEAR</b>
        <br /><b>CÔNG TY TNHH CÔNG NGHỆ HHP</b>
        <br /><br />Địa chỉ: 273 An Dương Vương, Phường 3, Quận 5, Hồ Chí Minh
        <br />Điện thoại: 1800 8099 (miễn phí) - Bảo hành: nhánh số 0
        <br />Email: kinhdoanh@HHP.com
        <p class="p-blue"><b><br />Hotline: 1800 8099
            <br />Chính sách bảo mật và hình thức thanh toán</b></p>
        <br /><b>THỜI GIAN LÀM VIỆC: 08:30 - 21:30 TỪ THỨ 2 ĐẾN CHỦ NHẬT</b>
        <br /><br />

      </div>
      <div class="col-md-6">
        <p><b>BẢN ĐỒ TỚI HHP</b><br /><br /></p>
        <div class="mapouter">
          <div class="gmap_canvas"><iframe width="600" height="250" id="gmap_canvas"
              src="https://maps.google.com/maps?q=%C4%91%E1%BA%A1i%20h%E1%BB%8Dc%20s%C3%A0i%20g%C3%B2n&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
          <style>
            .mapouter {
              float: right;
              position: relative;
              text-align: right;
              height: 300px;
            }

            .gmap_canvas {
              overflow: hidden;
              background: none !important;
              height: 300px;
            }

            .site-footer {
              color: white;
            }
          </style>
        </div>
      </div>

    </div>

  </div>
  <!-- /.container -->
</footer>
