<div #notifierContainer>
<div  [hidden]="true"><span class="badge badge-pill badge-success">Success</span>
    <div class="alert alert-success">
        This is a primary alert—check it out!
    </div>
</div>
<div  [hidden]="true">
    <span class="badge badge-pill badge-warning">Warning</span>
    <div class="alert alert-warning">
        This is a primary warning it out!
    </div>
</div>
<div  [hidden]="true">
    <span class="badge badge-pill badge-danger">Error</span>
    <div class="alert alert-danger">
        This is a primary danger it out!
    </div>
</div>
</div>