 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div routerLink="/" style="cursor:pointer;"><img class="app-logo" [src]="logoUrl"><a class="navbar-brand">GearShop</a> </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <div class="nav-link sign-up-nav-link" *ngIf="!isLogin()"><a (click)="login()">Sign in</a>&nbsp;/&nbsp;<a (click)="open(content)">Sign up</a></div>
          </li>
          <li class="nav-item" *ngIf="isLogin()">
            <div class="btn-group">
              <div  class="btn dropdown-toggle user-dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Hello  <span  style="color: rgb(27, 251, 27)">{{userName}}</span>
              </div>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button" routerLink="/admin" *ngIf="isManager()">Go to Admin Page</button>
                <button class="dropdown-item" type="button" matBadge="{{cartItemsNum()}}" matBadgePosition="before" matBadgeColor="accent" routerLink="/cart">Cart</button>
                <button class="dropdown-item" type="button" routerLink="/order">Orders History</button>
                <button class="dropdown-item" type="button" routerLink="/settings">Settings</button>
                <button class="dropdown-item" type="button" (click)="logout()">Sign out</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Thông tin nhận hàng</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #form>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
            <mat-form-field>
            <mat-label >Tên</mat-label>
            <input matInput type="text" name="Name" #Name="ngModel" [(ngModel)]="inputModel.name">
            </mat-form-field>
            </div>
            <div class="col-md-6">
            <mat-form-field>
                <mat-label >SĐT</mat-label>
                <input type="tel" matInput name="phoneNumber" #phoneNumber="ngModel" placeholder="phone number" [(ngModel)]="inputModel.phoneNumber" >
            </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field>
              <mat-label >Email</mat-label>
              <textarea matInput name="email" #email="ngModel" [rows]="3" [maxLength] = "150" [(ngModel)]="inputModel.email"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field>
              <mat-label>Password</mat-label>
              <input type="password" name="password" #password="ngModel" matInput placeholder="password" [(ngModel)]="inputModel.password" >
          </mat-form-field>
      </div>
        <div class="col-md-12">
            <mat-form-field>
                <mat-label >Địa chỉ</mat-label>
                <textarea matInput name="address" #address="ngModel" [rows]="3" [maxLength] = "150" [(ngModel)]="inputModel.address"></textarea>
            </mat-form-field>
        </div>
        </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="signUp()" [disabled]="saveBtnDisable">Save</button>
    </div>
  </ng-template>
