<div class="container page-body">
    <div class="row">
    <div class="col-md-12">
      <div class="col-md-4"><h1>Danh sách Nhà sản xuất</h1></div>
    </div>
    <div class="col-md-12">
    <custom-notifier></custom-notifier>
   </div>
    <div class="col-md-12 text-right">
      <button mat-raised-button color="primary" (click)="onAdd()"><mat-icon>add</mat-icon></button>
    </div>
    <br>
    <br>
    <br>
    
    <div class="col-md-5">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input  matInput placeholder="Producer name" [(ngModel)]="filterInput.name" >
      </mat-form-field>    
    </div> 
    <div class="col-md-1 align-self-center">
    <button mat-stroked-button color="primary" type="button" (click)="onSearch()">Search</button>
  </div>
    <div class="col-xl-12">
    <table mat-table [dataSource]="dataSource" matSort class="custom-table">
      <ng-container matColumnDef="name" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell matRipple *matCellDef="let producer" (dblclick)="onViewDetail(producer)" style="cursor: pointer;"><div style="width: 200px"> {{producer.name}} </div></td>
      </ng-container>
      <!-- <ng-container  matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef > Image </th>
        <td mat-cell *matCellDef="let producer"><img src="{{producer.imageUrls[0].url}}" alt="{{producer.name}}"> </td>
      </ng-container> -->
      
      <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let producer"><div style="width: 300px;"> {{producer.desc}} </div></td>
      </ng-container>

      <ng-container matColumnDef="authStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Auth Status </th>
        <td mat-cell *matCellDef="let producer"><div style="width: 130px" class="text-auth-{{ producer.authStatus.toLowerCase() }}"> {{ producer.authStatus }} </div></td>
      </ng-container>
      <ng-container matColumnDef="createDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Create Date </th>
        <td mat-cell *matCellDef="let producer"><div style="width: 180px"> {{producer.createDate | dateTimeFormatPipe}} </div></td>
      </ng-container>
      <ng-container matColumnDef="createBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Create By </th>
        <td mat-cell *matCellDef="let producer"><div style="width: 200px"> {{producer.createBy}} </div></td>
      </ng-container>
      <ng-container matColumnDef="authDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Auth Date </th>
      <td mat-cell *matCellDef="let producer"><div style="width: 180px"> {{producer.authDate | dateTimeFormatPipe}}</div></td>
      </ng-container>
      <ng-container matColumnDef="authBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Auth By </th>
        <td mat-cell *matCellDef="let producer" ><div style="width: 200px"> {{producer.authBy}} </div></td>
      </ng-container>
      <ng-container matColumnDef="lastUpdateDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Update Date </th>
        <td mat-cell *matCellDef="let producer"><div style="width: 180px"> {{producer.lastUpdateDate | dateTimeFormatPipe}} </div></td>
      </ng-container>
      <ng-container matColumnDef="lastUpdateBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Update By </th>
        <td mat-cell *matCellDef="let producer"><div style="width: 200px"> {{producer.lastUpdateBy}} </div></td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef > Action </th>
        <td mat-cell *matCellDef="let producer">
          <div>
              <button mat-fab color="primary" matTooltip="View item details" [matTooltipPosition]="toolTip.position" 
              [matTooltipShowDelay]="toolTip.showDelay" [matTooltipHideDelay]="toolTip.hideDelay" (click)="onViewDetail(producer)">
                <mat-icon>visibility</mat-icon>
              </button>
      
              <button mat-fab color="primary" matTooltip="Edit this item" [matTooltipPosition]="toolTip.position" 
              [matTooltipShowDelay]="toolTip.showDelay" [matTooltipHideDelay]="toolTip.hideDelay" (click)="onEdit(producer)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-fab color="primary" *ngIf="isAdmin()" matTooltip="Delete this item" [matTooltipPosition]="toolTip.position" 
              [matTooltipShowDelay]="toolTip.showDelay" [matTooltipHideDelay]="toolTip.hideDelay" (click)="onDelete(producer)">
                <mat-icon>delete</mat-icon>
              </button>
          
        </div>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="itemsPerPage" showFirstLastButtons></mat-paginator>
  </div>
  </div>
  </div>