<div class="row order-page-body" *ngIf="orders.length != 0">
    <div class="col-md-12">
        <custom-notifier></custom-notifier>
    </div>
    <div class="col-md-10 offset-md-1">
      <div class="row">
      <div class = "col-md-3 ">
        <mat-form-field>
          <mat-label>Trạng thái</mat-label>
          <mat-select [(ngModel)]="filterInput.status">
            <mat-option [value]="null" >Tất cả </mat-option>
            <mat-option *ngFor="let key of getObjectKeys(OrderStatus)" [value]="OrderStatus[key]">{{OrderStatus[key]}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>Từ ngày</mat-label>
          <input matInput [matDatepicker]="picker1" [(ngModel)]="filterInput.fromDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div> 
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>Đến ngày</mat-label>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="filterInput.toDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>  
      </div> 
        <div class="col-md-1 align-self-center">
        <button mat-stroked-button color="primary" type="button" (click)="onSearch()">Search</button>
        </div>
    </div>
        <mat-accordion>
            <mat-expansion-panel class="col-md-12" *ngFor="let order of displayList 
            | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let first = first" class="order-item" [expanded]="first">
              <mat-expansion-panel-header class="row">
                <mat-panel-title class="col-md-2 create-date">
                  {{order.createDate | dateTimeFormatPipe}}
                </mat-panel-title>
                <mat-panel-description class="col-md-1 status">
                    {{order.status}}
                </mat-panel-description>
                  <mat-panel-description class="col-md-3 receiver-name">
                    {{order.receiverName}}
                  </mat-panel-description>
                  <mat-panel-description class="col-md-2">
                    {{order.receiverPhone}}
                  </mat-panel-description>
                  <mat-panel-description class="col-md-3 receiver-address">
                    <div>{{order.receiverAddress}}</div>
                  </mat-panel-description>
              </mat-expansion-panel-header>
          
              <div class="row align-items-center" *ngFor="let item of order.orderDetails">
                <div class="col-md-2"><img class="img" src="{{item.image.url}}"></div>
                <div class="col-md-3">
                <div class="name" [routerLink]="['/product',item.productType,item.productId]">{{item.productName}}</div>
                <div>Số lượng: <span>{{item.quantity}}</span></div>
                <div>Đơn giá: <span>{{item.productPrice | moneyFormatPipe}} VNĐ</span></div>
                <!-- <div >Giá: <span class="price">{{item.product.price | moneyFormatPipe}} </span>VNĐ</div>
                <div >Số lượng <span class="quantity">{{item.quantity}}</span></div>
                <div>Tổng cộng <span class="total">{{item.product.price*item.quantity | moneyFormatPipe}}</span> VNĐ</div> -->
                <hr>
                <div class="item-total"><span>{{item.productPrice*item.quantity | moneyFormatPipe}} VNĐ</span></div>
                </div>
            </div>
            <div class="text-right total">Tổng cộng: &nbsp; &nbsp;<span class="total-price">{{order.totalPrice | moneyFormatPipe}}</span> VNĐ</div>
            <div class="text-right" style="margin-top: 10px;"><button mat-raised-button color="accent" *ngIf="cancellable(order)" (click)="cancelOrder(order.id)">Hủy đơn hàng</button></div>
            </mat-expansion-panel>
            
          </mat-accordion>
    
         
    </div>
    <div class="col-md-12" style="margin-top: 10px;">
      <div class="custom-paginator">
      <ngb-pagination  [(page)]="page" [pageSize]="pageSize" [collectionSize]="displayList.length"></ngb-pagination>
    </div>
    </div>
  
</div>

<div class="row cart-page-body" *ngIf="orders.length == 0">
  <div class="col-md-12 text-center">
      <div style="font-size: 20px;">
        <a routerLink="/">Lịch sử đơn hàng đang trống!</a>
      </div>
    </div>
    <div class="col-md-12 text-center"><img [src]="orderEmptyUrl"></div>

</div>


  

  
  
  