<div class="container-fluid page-body">
<div class="row align-items-center">
  <div class="col-md-12">
    <span>
    <button mat-button class="no-outline-button" color="primary" (click)="goBack()">Danh sách sản phẩm</button>
    </span>
    <span >
      <svg class="bi bi-chevron-compact-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
      </svg>
    </span>
    <span style="padding: 0 16px;" [ngSwitch]="editPageState">
      <span *ngSwitchCase="EditPageState.add">Thêm sản phẩm</span>
      <span *ngSwitchCase="EditPageState.edit">Chỉnh sửa sản phẩm</span>
      <span *ngSwitchCase="EditPageState.viewDetail">Chi tiết sản phẩm</span>
    </span>
  </div>
  <div class="col-md-12">
  <custom-notifier></custom-notifier>
  </div>
  <div class="col text-right">
    <button mat-raised-button color="primary" (click)="onSave()" *ngIf="!isView()">Save</button>
    <button mat-raised-button style="margin-right: 10px;" color="warn" (click)="onReject()" *ngIf="isView()" [disabled]="!isApprovable()">Reject</button>
    <button mat-raised-button color="primary" (click)="onApprove()" *ngIf="isView()" [disabled]="!isApprovable()">Approve</button>
  </div>
  </div>
      <!-- /.col-lg-3 -->
      
      <div class="row">
          <div class="col-md-6">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input  matInput placeholder="Product name" [(ngModel)]="inputModel.name" [disabled]="isView()" >
          </mat-form-field>    
          </div> 
          <div class="col-md-3">
            <mat-form-field>
              <mat-label>Stock</mat-label>
              <input type="number"  matInput  [(ngModel)]="inputModel.stock" [disabled]="isView()" >
            </mat-form-field>    
          </div> 
          <div class="col-md-6">
              <div class="row">
                <div class="col-md-10">
                    <mat-form-field>
                    <mat-label>Original Price</mat-label>
                    <input class="money-input" matInput matInputCommified #moneyInput placeholder="Product original price" [value]="inputModel.originalPrice" type="text" [disabled]="isView()" >
                  </mat-form-field>    
                </div>  
                <div class="align-self-center">VNĐ</div> 
              </div>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Sale</mat-label>
              <input type="number"  matInput  [(ngModel)]="inputModel.sale" [disabled]="isView()" (change)="onSaleInputChange()" >
            </mat-form-field>    
          </div> 
        
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-10">
                  <mat-form-field>
                  <mat-label>Price</mat-label>
                  <input class="money-input" matInput matInputCommified  placeholder="Product price" [value]="inputModel.price" type="text" [disabled]="true" >
                </mat-form-field>    
              </div>  
              <div class="align-self-center">VNĐ</div> 
            </div>
        </div>

          <div class = "col-md-3">
          <mat-form-field>
            <mat-label>Producer</mat-label>
            <mat-select [(ngModel)]="inputModel.producerId" [disabled]="isView()">
              <mat-option *ngFor="let producer of producers" [value]="producer.producerId">{{producer.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class = "col-md-3">
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="inputModel.type" [disabled]="isView()">
              <mat-option *ngFor="let key of getObjectKeys(ProductType)" [value]="ProductType[key]">{{ProductType[key]}}</mat-option>
            </mat-select>
          </mat-form-field>
      
          </div>
          <div class="col-md-12">
            <mat-form-field>
              <mat-label>Short Desciption</mat-label>
              <textarea matInput  placeholder="Product short description" [(ngModel)]="inputModel.shortDesc" [disabled]="isView()" [rows]="3" [maxLength] = "150"></textarea>
            </mat-form-field>  
            </div> 
          <div class="col-md-12">
          <mat-form-field>
            <mat-label>Desciption</mat-label>
            <textarea matInput  placeholder="Product description" [(ngModel)]="inputModel.desc" [disabled]="isView()"  [matTextareaAutosize]="true" [matAutosizeMaxRows]="25" 
                      [matAutosizeMinRows]="5"></textarea>
          </mat-form-field>  
          </div>  
        <div class="col text-right">
          <bwm-image-upload [disable]="isView()" (files)="onSelectFiles($event)" ></bwm-image-upload>
        </div> 
    </div>
        <!-- /.card -->
    
      <!-- /.col-lg-9 -->

  </div>