<!-- Page Content -->
<div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">HHP</h1>
        <div class="list-group">
          <a *ngFor="let key of getObjectKeys(ProductType)" [routerLink]="['/product', ProductType[key]]" class="list-group-item">{{ProductType[key]}}</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->
      <div class="col-lg-9">
      <ngb-carousel class ="custom-carousel">
        <ng-template ngbSlide *ngFor="let image of product.imageUrls">
          <div class="picsum-img-wrapper">
            <img [src]="image.url" alt="image">
          </div>
          <!-- <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div> -->
        </ng-template>
      </ngb-carousel>
      <div>
        
        <div class="card mt-4">
          
          <div class="card-body">
            <h3 class="card-title">{{product.name}}</h3>
            <div *ngIf="product.sale != 0">
              <div class="card-origin-price">
                <div class=" text-deleted">{{product.originalPrice | moneyFormatPipe}}</div>
                <div class="card-curency-unit">VNĐ</div>
                <div class="card-sale">-{{product.sale}}%</div>
              </div> 
              <div class="card-price">
               <div class="price">{{product.price | moneyFormatPipe}}</div>
                <div class="card-curency-unit">VNĐ</div>
              </div>

            </div>
            <div *ngIf="product.sale == 0">
            <div class="card-price">
              <div class="price">{{product.price | moneyFormatPipe}}</div>
              <div class="card-curency-unit">VNĐ</div>
          </div>
            </div>
            <div class="card-text card-short-desc">{{product.shortDesc}}
            </div>
            <input type="number"  [(ngModel)]="Quantity" (change)="quantityChange()">
            <div style="float: right;">
              <button mat-raised-button color="primary" (click)="addToCart(Quantity)">Thêm vào giỏ hàng</button>
            </div>
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Description
          </div>
          <div class="card-body">
            <div class="card-text">{{product.desc}} </div>
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->
</div>
    </div>

  </div>