<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened><side-nav></side-nav></mat-sidenav>
    <mat-sidenav-content>
    <div class="container-fluid">
        <div class="row">
        <div *ngIf="!sidenav.opened">
            <button mat-icon-button color="primary" class="custom-icon-button" style="margin-top: 20px;opacity: 65%;"  (click)="toggleSidenav()"><mat-icon>logout</mat-icon></button>
        </div>
        <div class="col app-page">
            <router-outlet></router-outlet>
        </div>
        </div>
    </div>
    </mat-sidenav-content>
</mat-sidenav-container>
  
